body {
  margin: 0;
  font-family: Roboto,Meiryo,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Segoe UI Emoji,Segoe UI Symbol,Apple Color Emoji,Noto Color Emoji,Noto Emoji,sans-serif,Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
